
.navbar{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    padding-top: 30px;
    max-width: 1100px;
    height: 60px;
    margin-left: 79.5px;
    margin-right: 79.5px;
    -webkit-box-align: center;
    -webkit-box-pack: justify;


}

#nav-menu{
    line-height: 20px;
    position: relative;
    display: block;
    float: right;
    text-size-adjust: 100%;
}

.navbar-item{
    font-size: 17px;
    padding: 20px;
    text-align: left;
    position: relative;
    display: inline-block;   
    cursor: pointer;

}

.navbar-item.item1{
    color: #0082f3;
}

.button{
    background-color: #072ACB;
    border-bottom: rgb(255, 255, 255);
    position: relative;
    padding: 15px 30px;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    color: rgb(242, 244, 252);
}

.button:hover{
    background-color: #292e47;

}